html,body {
    height: 100%;
    margin: 0;
}

#map {
    width: auto;
    height: 100%;
    margin: 0;
}

.buttons {
    margin: 5pt;
    pointer-events: auto;
    z-index: 100;
}

.leaflet-popup-content {
    margin: 10px 10px 10px 10px;
}

.leaflet-popup-tip {
    visibility: collapse;
    width: 0px;
    height: 0px;
}

.ufo-image {
    padding-bottom: 10px;
    width: 64px;
    height: 64px;
    position: relative;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    display: block;
}

.top-center {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.top-center button {
    width: 100%;
    margin-bottom: 3px;
}

.ufo-popup-container {
    -ms-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.leaflet-popup-content-wrapper {
    background-color: #efefef;
}

#loading {
    position:absolute;
    z-index: 90000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: collapse;
}

#loading #bg {
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

#loading #circle {
    opacity: 1;
    position: absolute;
    width: 100pt;
    height: 100pt;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#loading #circle svg {
    width: 100%;
    height: 100%;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}